@model VIEWMyAccountPasswordViewModel;

<fieldset class="tab-fieldset flex-column std-pad">
	<legend>Change Password</legend>
	<form class="flex-column" asp-controller="UserMenu" asp-action="ChangePassword" method="post">
		<fieldset class="grid-2-col">
			<label asp-for="CurrentPassword">Current Password</label>
			<input class="text-input std-pad" type="text" asp-for="CurrentPassword">
			<label asp-for="NewPassword">New Password</label>
			<input class="text-input std-pad" type="text" asp-for="NewPassword">
			<label asp-for="ConfirmPassword">Confirm Password</label>
			<input class="text-input std-pad" type="text" asp-for="ConfirmPassword">
		</fieldset>
		<input class="btn std-pad" type="submit" value="Change Password">
	</form>
</fieldset>
