@model VIEWRegisterViewModel;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="tab middle std-pad-2">
    <fieldset class="tab-fieldset std-pad">
        <legend>New account</legend>
        <form class="flex-column" asp-controller="Account" asp-action="Register" method="post">
            <fieldset class="grid-2-col">
                <label asp-for="Name">User name</label>
                <input class="text-input std-pad" type="text" asp-for="Name" required>
                <label asp-for="Email">E-mail</label>
                <input class="text-input std-pad" asp-for="Email" required>
                <label asp-for="Password">Password</label>
                <input class="text-input std-pad" type="password" asp-for="Password" required>
                <label asp-for="ConfirmPassword">Confirm password</label>
                <input class="text-input std-pad" type="password" asp-for="ConfirmPassword" required>
            </fieldset>
            <input class="btn std-pad" type="submit" value="Register">
        </form>
    </fieldset>
</div>